@charset "UTF-8";

:root {
    --vermelho:#E50914;
    --preto:#141414;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
}

header div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30pt;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: white;
}

.inicio-principal {
    font-size: 16pt;
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#poster-inicio {
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)100%), url('../_img/cinema_classico.png');
}

#poster-filmes {
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)100%), url('../_img/filmes.png');
}

#poster-series {
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)100%), url('../_img/series.png');
}

#poster-destaques {
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)100%), url('../_img/destaques.png');
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 25px;
    cursor: pointer;
    transition: 1.5s;
}

.botao:hover {
    background-color: white;
    color: black;

}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-poster {
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-inicio {
    margin-top: 5px;
}