@charset "UTF-8";

:root {
    --vermelho:#E50914;
    --preto:#141414;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    color: white;
}

header div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30pt;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;

}

header nav a:hover {
    color: white;
}

.filme-principal {
    font-size: 16pt;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../_img/cinema_classico.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 50px;
    margin-bottom: 40px;
}

.titulo {
    font-size: 30pt;
}
